body {
	background-color: #E5EDB7;
	color: #642626;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,sans-serif;
	padding: 20px;
}

p {
	padding: 20px;
}

img {
    margin: 0 auto;
    max-width: 300px;
    display: block;
    padding: 10px 0;
}
